* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.textDark {
  color: #1A1A1A;
}

a, p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
  border: none;
}

button.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  -webkit-display: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: unset;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-wrapper {
  margin: auto;
  position: relative;
  z-index: 1;
}

.main-content-con {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.main-content-con::-webkit-scrollbar {
  display: none;
}

.page-header-title h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.01em;
}

.page-header .search-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.filters-section .filters-con p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.filters-section .filters-con .filters .filter button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EEEEEE;
  border-radius: 4px;
  border: none;
  outline: none;
}

.filters-section .filters-con .filters .filter button:focus {
  outline: none;
  border: none;
}

.filters-section .filters-con .filters .filter-icon {
  width: 16px;
  height: 16px;
}

.filters-section .filters-con .filters .filter span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1A1A1A;
}

.message {
  margin-bottom: 16px;
  margin-top: 16px;
}

.message-profile-icon-con {
  position: relative;
}

.message-profile-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.message-profile-icon-type {
  width: 19px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F7AE5;
  position: absolute;
  z-index: 2;
  border: 1px solid #fff;
  border-radius: 7px;
  top: -5px;
  left: -5px;
}

.message-content-con {
  width: 88%;
}

@media screen and (max-width: 420px) {
  .message-content-con {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .message-content-con {
    width: 75%;
  }
}

.message-title h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1A1A1A;
}

.message-title p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}

.message-content p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #595959;
}

.filter-popup-con {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.filter-popup-con.show {
  display: block;
}

.filter-popup-con .backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.filter-popup-con .filter-popup {
  width: 100%;
  min-height: 420px;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  bottom: -100%;
  left: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.filter-popup-con .filter-popup.show {
  bottom: 0;
}

.filter-popup-con .filter-popup-title h5 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.01em;
  color: #1A1A1A;
}

.filter-popup-con .filter-popup-close-btn button {
  font-size: 32px;
  color: #595959;
  background: transparent;
  border: none;
  outline: none;
}

.filter-popup-con .filter-popup-close-btn button:focus {
  border: none;
  outline: none;
}

.filter-popup-con .filter-popup-content .date-filters-list {
  list-style: none;
}

.filter-popup-con .filter-popup-content .date-filters-list li {
  margin-bottom: 16px;
}

.filter-popup-con .filter-popup-content .date-filters-list a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #1A1A1A;
}

.filter-popup-con .custom-range-filter {
  display: none;
}

.filter-popup-con .custom-range-filter.show {
  display: block;
}

.filter-popup-con .custom-range-filter-items .date-control-con {
  position: relative;
}

.filter-popup-con .custom-range-filter-items .date-control-con label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #595959;
}

.filter-popup-con .custom-range-filter-items .date-control-con .date-control input.form-control {
  height: 38px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  position: relative;
}

.filter-popup-con .custom-range-filter-items .date-control-con .date-control-icon {
  position: absolute;
  width: 16px;
  right: 10px;
  bottom: 4px;
}

.filter-popup-con .custom-range-filter-btns {
  width: calc(100% - 32px);
  position: absolute;
  bottom: 6px;
  background: #fff;
}

.filter-popup-con .custom-range-filter-btns button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background: transparent;
}

.filter-popup-con .custom-range-filter-btns button.btn-cancel {
  border: 1px solid #2F7AE5;
  color: #2F7AE5;
}

.filter-popup-con .custom-range-filter-btns button.btn-save {
  background: #2F7AE5;
  color: #ffffff;
}

.date-control-pannel {
  height: 350px;
  display: none;
}

.date-control-pannel.show {
  display: block;
}

.date-control-pannel .datepicker-calender-con {
  height: 90%;
}

.date-control-pannel .datepicker-calender-con .datepicker {
  width: 100%;
  height: 100%;
  padding: 0;
}

.date-control-pannel .datepicker-calender-con .datepicker-days, .date-control-pannel .datepicker-calender-con .datepicker-months, .date-control-pannel .datepicker-calender-con .datepicker-years, .date-control-pannel .datepicker-calender-con .datepicker-decades, .date-control-pannel .datepicker-calender-con .datepicker-centuries {
  width: 100%;
  height: 100%;
}

.date-control-pannel .datepicker-calender-con .datepicker table {
  width: 100%;
  height: 100%;
}

.date-control-pannel .datepicker-calender-con .datepicker table .datepicker-switch {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.date-control-pannel .datepicker-calender-con .datepicker table th {
  height: 42px;
}

.date-control-pannel .datepicker-calender-con .datepicker table th.prev, .date-control-pannel .datepicker-calender-con .datepicker table th.next {
  margin-top: 8px;
  height: 14px;
}

.date-control-pannel .datepicker-calender-con .datepicker table th.prev:hover, .date-control-pannel .datepicker-calender-con .datepicker table th.next:hover {
  background: transparent;
}

.date-control-pannel .datepicker-calender-con .datepicker table td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  width: 40px;
}

.datepicker table tr td.active.active {
  background: #2F7AE5;
}

.message-header {
  background: #FFFFFF;
  border-bottom: 1px solid #D9D9D9;
  -webkit-box-shadow: 0px 16px 32px rgba(191, 191, 191, 0.15);
          box-shadow: 0px 16px 32px rgba(191, 191, 191, 0.15);
}

.message-header-topbar-title h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1A1A1A;
}

.message-header-profile-details .profile-image-con .profile-image {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.message-header-profile-details .profile-title h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1A1A1A;
}

.message-header-profile-details .profile-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}

.underline {
  text-decoration: underline;
}

.message-body {
  padding-bottom: 80px;
}

.message-body .message-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-body .message-type-icon {
  width: 19px;
  height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F7AE5;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
}

.message-body .message-type-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #2F7AE5;
}

.message-body .message-title h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #1A1A1A;
}

.message-body .message-content p {
  color: #1A1A1A;
}

.message-body .message-content p.message-content-heading {
  font-weight: 600;
  margin: 16px 0 6px;
  color: #1A1A1A;
}

.new-message-input-con {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.new-message-input-con .new-message-input {
  position: relative;
  z-index: 1;
}

.new-message-input-con .new-message-input .new-message-input-control {
  height: 40px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}

.new-message-input-con .new-message-input .new-message-input-control:focus {
  outline: none;
}

.new-message-input-con .new-message-input .send-icon {
  position: absolute;
  right: 15px;
  top: 57%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}
/*# sourceMappingURL=styles.css.map */